#allMoviesEdit {
  height: auto;
  width: 100vw;
  position: absolute;
  top: 10vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px 20px 150px 20px;
  flex-wrap: wrap;
  grid-gap: 80px;
}

#allMoviesEdit .eachMoviesEdit {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#allMoviesEdit .eachMoviesEdit img {
  height: 300px;
  transition: all .3s ease-in;
}

.btnEdite {
  height: 50px;
  width: 100px;
  background-color: #0084ff;
  color: white;
  cursor: pointer;
  transition: all .2s ease-out;
}

.btnDelete {
  height: 50px;
  width: 100px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: all .2s ease-out;
}

.btnDelete:hover, .btnEdite:hover {
  color: black;
}
