.divGenre {
  height: auto;
  width: 100vw;
  padding: 50px;
  position: absolute;
  top: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  grid-gap: 10px;
}

.divGenre .divGenreMovies {
  text-align: center;
}

.divGenre .divGenreMovies .img-div-genre {
  background-image: url("https://img.icons8.com/neon/96/039AFF/play.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s;
}

.divGenre .divGenreMovies .img-div-genre img {
  height: 260px;
  transition: all .3s;
}

.divGenre .divGenreMovies .img-div-genre img:hover {
  opacity: .2;
}

.divGenre .divGenreMovies .img-div-genre:hover {
  background-image: url("https://img.icons8.com/neon/96/039AFF/play.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.divGenre .divGenreMovies p {
  margin-top: 10px;
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  .divGenre {
    padding: 10px;
    grid-gap: 10px;
  }
  .divGenre .divGenreMovies .img-div-genre img {
    height: 150px;
  }
  .divGenre .divGenreMovies p {
    margin-top: 10px;
    font-size: 9px;
  }
}
