.section-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login {
  height: 500px;
  width: 500px;
  background-color: #039aff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px black groove;
  border-radius: 50px;
  position: relative;
}

.input-info {
  height: 25px;
  width: 250px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px;
}

.margin-info {
  margin: 6px 0 40px 0;
}

.message-info {
  margin: 0;
  position: absolute;
  top: 40px;
}

.info-submit {
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 90px;
  transition: all 0.2s ease-out;
}

.info-submit:hover {
  background-color: #0b0b2c;
  color: white;
}

.SignUp {
  text-decoration: none;
  color: blue;
  position: absolute;
  font-size: 15px;
  bottom: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
}

.SignUp:hover {
  color: black;
}
