.user-profile {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-profile .user-infos {
  background-color: #039aff;
  height: 70%;
  width: 50%;
  box-shadow: 0px 0px 80px 10px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.user-profile .user-infos h1 {
  color: black;
  font-size: 2vw;
}

#divStars {
  height: 10px;
  width: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: calc(50% - 10vh);
  margin-top: 8vh;
}

#divStars .stars {
  color: orange;
  font-size: 7vh;
}

.settings {
  color: black;
  font-size: 2vh;
}

.user-UpdateUser {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111;
}

.user-UpdateUser .form-updateUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-UpdateUser .form-updateUser * {
  margin: 30px;
  padding: 20px 40px 20px 40px;
  border: none;
  outline: none;
  text-align: center;
}

.user-UpdateUser .form-updateUser .sbt-update {
  padding: 10px 40px 10px 40px;
}
