.user-profile{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .user-infos{
    background-color: rgb(3, 154, 255);
    height: 70%;
    width: 50%;
    box-shadow: 0px 0px 80px 10px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    h1{
      color: black;
      font-size: 2vw;
    }
  }
}
#divStars{
  height: 10px;
  width: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: calc(50% - 10vh);
  margin-top: 8vh;
  .stars{
    color: orange;
    font-size: 7vh;
  }
  
}
.settings{
  color: black;
  font-size: 2vh;
}
.user-UpdateUser{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  .form-updateUser{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    *{
      margin: 30px;
      padding: 20px 40px 20px 40px;
      border: none;
      outline: none;
      text-align: center;
    }

    #sbtUpdate{
      cursor: pointer;
      background-color: white;
      padding: 10px 40px 10px 40px;
      transition: all .3s ease-out;
    }
    #sbtUpdate:hover{
      background-color: rgb(3, 154, 255);
    }
    #ResetClick{
      padding: 10px 40px 10px 40px;
      cursor: pointer;
      background-color: white;
      font-style: none;
      transition: all .3s ease-out;
    }
    #ResetClick:hover{
      background-color: rgb(3, 154, 255);
    }
    
  }
}
.deleteAccount{
  background-color: #111111;
  padding: 5px;
  color: white;
  cursor: pointer;
}




@media only screen and (max-width: 600px){
  .user-profile{
    .user-infos{
      height: 100%;
      width: 100%;
      h1{
        color: black;
        font-size: 15px;
        text-decoration: underline;
      }
    }
  }
    .deleteAccount{
      background-color: #111111;
      padding: 5px;
      color: white;
      font-size: 10px;
      cursor: pointer;
    }

    .user-UpdateUser{
      .form-updateUser{
        *{
          margin: 10px;
          padding: 10px 20px 10px 20px;
          border: none;
          outline: none;
          text-align: center;
        }
    
        #sbtUpdate{
          cursor: pointer;
          background-color: white;
          padding: 10px 20px 10px 20px;
          transition: all .3s ease-out;
        }
        #sbtUpdate:hover{
          background-color: rgb(3, 154, 255);
        }
        #ResetClick{
          padding: 10px 20px 10px 20px;
          cursor: pointer;
          background-color: white;
          font-style: none;
          transition: all .3s ease-out;
        }
        #ResetClick:hover{
          background-color: rgb(3, 154, 255);
        }
        
      }
    }
}

