
.guestHeader{
  position: fixed;
  top: 0;
  z-index: 2;
  overflow: hidden;
  nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-color: #111111;
    ul{
      width: 400px;
      height: 100%;
      position: absolute;
      right: 20px;
      list-style:none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      li{
        .links{
          height: 10vh;
          width: 10vh;
          border-radius: 35px;
          text-decoration: none;
          color: rgb(3, 154, 255);
          font: bolder;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;
          user-select: none;
          transition: all 0.2s ease-in-out;
        }
        .links:hover{
          background-color: rgb(24, 23, 23);
          color: white;
        }
      }
    }
  }
}
.userInfo{
  position: fixed;
  top: 10vh;
  right: 0;
  border:1px black groove;
  background-color: rgba(0,0,0, 0.7);
  height: 10vh;
  width: 400px;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  border: 1px rgba(255,255,255, 0.1) groove;
  .borderPro{
    border: 1px rgba(255,255,255, 0.1) groove;
  }
  .logout{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  animation-duration: 0.3s;
}
@keyframes menu {
  from{
    height: 0;
  }
  to{
    height: 10vh;
  }
  
}
@keyframes menuClose {
  from{
    height: 10vh;
  }
  to{
    height: 0;
  }
  
}
.myProf{
  height: 10vh;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myProf,.logout{
  transition: all 0.2s ease;
}
.myProf:hover,.logout:hover{
  color: rgb(3, 154, 255);
}


