.label {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 3.33%;
  top: calc(50% - 20px);
  background-color: white;
  background-image: url("https://img.icons8.com/ios-glyphs/60/moon-symbol.png");
  border: 1px black groove;
}

@media only screen and (max-width: 600px) {
  .label {
    height: 3vh;
    width: 3vh;
    top: calc(50% - 1.5vh);
  }
}
