.allUsers {
  height: auto;
  width: 100vw;
  position: absolute;
  top: 10vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  grid-gap: 25px;
}

.allUsers .eachUser {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: all .3s ease-out;
}

.allUsers .eachUser:hover {
  color: #0084ff;
}

.eachUserById {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 10vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.eachUserLink {
  text-decoration: none;
}

.deleteUser {
  padding: 10px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.deleteUser:hover {
  background-color: red;
  color: black;
}

.updateUser {
  padding: 10px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.updateUser:hover {
  background-color: #0084ff;
  color: black;
}
