.guestHeader {
  position: fixed;
}

.guestHeader nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.guestHeader nav ul {
  width: 300px;
  position: absolute;
  right: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.guestHeader nav ul li .links {
  text-decoration: none;
  color: black;
  font: bolder;
  padding: 20px;
  font-size: 10px;
  background-color: #039aff;
  border-radius: 50px;
  display: flex;
  border: 1px black groove;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.guestHeader nav ul li .links:hover {
  background-color: #181717;
  color: white;
  border: 1px white groove;
}

.userInfo {
  position: fixed;
  top: 10vh;
  right: 10px;
  border: 1px black groove;
  background-color: rgba(3, 154, 255, 0.3);
  height: 500px;
  width: 400px;
  border-radius: 50px;
  z-index: 10000;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userInfo .logout {
  background-color: black;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
