.guestHeader {
  position: fixed;
  z-index: 1;
}

.guestHeader nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.guestHeader nav ul {
  width: 300px;
  position: absolute;
  right: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.guestHeader nav ul li .links {
  text-decoration: none;
  color: black;
  font: bolder;
  padding: 20px;
  font-size: 10px;
  background-color: #039aff;
  border-radius: 50px;
  display: flex;
  border: 1px black groove;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.guestHeader nav ul li .links:hover {
  background-color: #181717;
  color: white;
  border: 1px white groove;
}

.userInfo {
  position: fixed;
  top: 10vh;
  right: 10px;
  border: 1px black groove;
  background-color: rgba(0, 0, 0, 0.7);
  height: 10vh;
  width: 400px;
  z-index: 10000;
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  border: 1px rgba(255, 255, 255, 0.1) groove;
  animation-duration: 0.3s;
}

.userInfo .borderPro {
  border: 1px rgba(255, 255, 255, 0.1) groove;
}

.userInfo .logout {
  cursor: pointer;
  color: white;
}

@keyframes menu {
  from {
    height: 0;
  }
  to {
    height: 10vh;
  }
}

@keyframes menuClose {
  from {
    height: 10vh;
  }
  to {
    height: 0;
  }
}

.myProf {
  color: white;
  text-decoration: none;
}

.myProf, .logout {
  transition: all 0.2s ease;
}
