.genre {
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 10vh;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  div{
    width: 14.28%;
    height: 100%;
    border: 1px rgba(255,255,255, 0.1) groove;
    background-color:rgba(0,0,0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-out;
  }
  div:hover{
    background-color:rgba(0,0,0, 0.9);
    color: rgb(3, 154, 255);
  }
  
  animation-duration: 0.3s;
}
@keyframes genreBox {
  0%{height: 0;}
  100%{height: 10vh;}
}
@keyframes genreBoxClose {
  0%{height: 10vh;}
  100%{height: 0vh;}
}
.genreKeys{
  padding: 40px;
  color: white;
  text-decoration: none;
  transition: all .3s ease-out;
}
.genreKeys:hover{
  color: rgb(3, 154, 255);
}
 

.headerAdmin{
  height: 10vh;
  width: 10vh;
  cursor: pointer;
  color: rgb(3, 154, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  p{
    user-select: none;
  }
}
.headerAdmin:hover{
  background-color: rgb(24, 23, 23);
  color: white;
}
.toDo{
  height: 10vh;
  width: 50vw;
  background-color:rgba(0,0,0,0.7);
  position: fixed;
  top: 10vh;
  right: 0;
  display:none;
  align-items: center;
  justify-content: space-around;
  .div{
    color: white;
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out;
  }
  .div:hover{
    color:  rgb(3, 154, 255);
    background-color: rgba(24, 23, 23 , .9);
  }
  animation-duration: 0.3s;
}
@keyframes adminBox {
  0%{height: 0;}
  100%{height: 10vh;}
}
@keyframes adminBoxClose {
  0%{height: 10vh;}
  100%{height: 0vh;}
}

